<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Anteater Sleep Awareness </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./style.css') }}" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>


</head>
<body>



    
    <div class="jumbotron">
        <h1 class="text-center text-white">Anteater Sleep Awareness</h1>
    </div>

    <br>
    <div class="container">
        <div id="app">
            <section>
                <h2>Your Sleep Quality Tracker</h2>
                <!-- <canvas id="chart"></canvas> -->
            </section>

            <section>
                <div clas="rounded-card" id="info">
                    <h3>Your latest sleep quality</h3>
                    <div>
                        <span>
                            <span class="material-symbols-outlined">
                                calendar_month
                            </span>
                            <span id="latest-day">
                                2023-06-11
                            </span>
                        </span>
                        <span>
                            <span class="material-symbols-outlined">
                                sleep
                            </span>
                            <span id="latest-sleep-quality">
                                100
                            </span>
                        </span>
                    </div>
                </div>
            </section>
            <section>
                <!-- <h2></h2> -->
                <div class="rounded-card" id="actions">
                    <span>
                        By logging in your sleep quality daily, you can track 
                        your progress and stay on top of your sleep quality goals!
                    </span>
                    <div>
                        <span id="btn">
                            Log Sleep Quality
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <br>
    <br>

    <div class="container-fluid">

        <div class="row">

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor1"> Temperature : </h1>
            </div>
            <br>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor2">Humidity : </h1>
            </div>
            <br>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor3">Lightness : </h1>
            </div>
            <br>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor4">Noise : </h1>
            </div>
            <br>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor5">Motion : </h1>
            </div>
            <br>

        </div>
    </div>

    <style>

        .jumbotron{
            widows: 90px;
            height: 110px;
            justify-content: center;
        }

        .row{
            justify-content: center;
        }


    </style>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-temperature">

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid" id="data-humidity">

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid" id="data-lightness">

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid" id="data-noiseFreq">

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid" id="data-motionFreq">

            </div>
        </div>
    </div>



    <script>
        var chartTemperatue;
        var chartHumidity;
        var chartLightness;
        var chartNoiseFreq

        function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/data');

            var tm = requests.done(function (result)
            {
                // Temperature
                var seriesTemperature = chartTemperatue.series[0],
                    shiftTemperature = seriesTemperature.data.length > 20;
                
                // Average Temperature
                var seriesAvgTemperature = chartTemperatue.series[1],
                    shiftAvgTemperature = seriesAvgTemperature.data.length > 20;

                // Humidity
                var seriesHumidity = chartHumidity.series[0],
                    shiftHumidity = seriesTemperature.data.length > 20;

                // Average Humidity
                var seriesAvgHumidity = chartHumidity.series[1],
                    shiftAvgHumidity = seriesAvgHumidity.data.length > 20;

                // Light
                var seriesLightness = chartLightness.series[0],
                    shiftLightness = seriesLightness.data.length > 20;
                
                // Average Light
                var seriesAvgLightness = chartLightness.series[1],
                    shiftAvgLightness = seriesAvgLightness.data.length > 20;
                
                // Noise frequency
                var seriesNoise = chartNoiseFreq.series[0],
                    shiftNoise = seriesNoise.data.length > 20;

                // Average Noise frequency
                var seriesAvgNoise = chartNoiseFreq.series[1],
                    shiftAvgNoise = seriesAvgNoise.data.length > 20;
                
                // Motion Frequency
                var seriesMotion = chartMotionFreq.series[0],
                    shiftMotion = seriesMotion.data.length > 20;

                // average Motion Frequency
                var seriesAvgMotion = chartMotionFreq.series[1],
                    shiftAvgMotion = seriesAvgMotion.data.length > 20;


                // Add the Point
                // Time Temperature
                var data1 = [result[0], result[1]];

                // Time Humidity
                var data2 = [result[0], result[2]];

                // Time Lightness
                var data3 = [result[0], result[3]];

                // Time NoiseFreq
                var data4 = [result[0], result[4]];

                // Time MotionFreq
                var data5 = [result[0], result[5]];

                // Time Average Temperature
                var data6 = [result[0], result[6]];

                // Time Average Humidity
                var data7 = [result[0], result[7]];

                // Time Average Light
                var data8 = [result[0], result[8]];

                // Time Average Noise Frequency
                var data9 = [result[0], result[9]];

                // Time Average Motion Frequency
                var data10 = [result[0], result[10]];

                // add normal data points
                chartTemperatue.series[0].addPoint(data1, true, shiftTemperature);
                chartHumidity.series[0].addPoint(data2, true, shiftHumidity);
                chartLightness.series[0].addPoint(data3, true, shiftLightness);
                chartNoiseFreq.series[0].addPoint(data4, true, shiftNoise);
                chartMotionFreq.series[0].addPoint(data5, true, shiftMotion);
                // add average data points
                chartTemperatue.series[1].addPoint(data6, true, shiftAvgTemperature);
                chartHumidity.series[1].addPoint(data7, true, shiftAvgHumidity);
                chartLightness.series[1].addPoint(data8, true, shiftAvgLightness);
                chartNoiseFreq.series[1].addPoint(data9, true, shiftAvgNoise);
                chartMotionFreq.series[1].addPoint(data10, true, shiftAvgMotion);

                $(".sensor1").text("");
                $(".sensor1").text("Average Temperature : " +  Math.round(data6[1]) );

                $(".sensor2").text("");
                $(".sensor2").text("Average Humidity : " +  Math.round(data7[1]) );

                $(".sensor3").text("");
                $(".sensor3").text("Average Light : " +  Math.round(data8[1]) );

                $(".sensor4").text("");
                $(".sensor4").text("Average Noise Frequency : " +  Math.round(data9[1]) );

                $(".sensor5").text("");
                $(".sensor5").text("Average Motion Frequency : " +  Math.round(data10[1]) );

                // call it again after one second
                setTimeout(requestData, 20000); //2000

            });
        }

        function initCharts() {
            // --------------Chart 1 ----------------------------
            chartTemperatue = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-temperature',
                    defaultSeriesType: 'area',
                    // events: {
                    //     load: requestData
                    //         }
                    },
                title:
                    {
                    text: 'Temperature'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#c23d23',
                    lineColor: '#c23d23',
                    name: 'Temperature',
                    data: []
                },{
                    color: '#3399FF',
                    lineColor: '#3399FF',
                    name: 'Average Temperature',
                    data: [], 
                }]
            });
            // --------------Chart 1 Ends - -----------------

            // --------------Chart 2 - -----------------
            chartHumidity = new Highcharts.Chart({
                chart:
                    {
                        renderTo: 'data-humidity',
                        defaultSeriesType: 'area',
                        // events: {
                        //     load: requestData
                        // }
                    },
                title:
                    {
                        text: 'Humidity'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    color: '#303030',
                    lineColor: '#303030',
                    name: 'Humidity',
                    data: []
                },{
                    color: '#3399FF',
                    lineColor: '#3399FF',
                    name: 'Average Humidity',
                    data: [], 
                }]
            });

            // --------------Chart 3 ----------------------------
            chartLightness = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-lightness',
                    defaultSeriesType: 'area',
                    // events: {
                    //     load: requestData
                    //         }
                    },
                title:
                    {
                    text: 'Light'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#c23d23',
                    lineColor: '#c23d23',
                    name: 'Light',
                    data: []
                },{
                    color: '#3399FF',
                    lineColor: '#3399FF',
                    name: 'Average Light',
                    data: [], 
                }]
            });

            // --------------Chart 4 - -----------------
            chartNoiseFreq = new Highcharts.Chart({
                chart:
                    {
                        renderTo: 'data-noiseFreq',
                        defaultSeriesType: 'area',
                        // events: {
                        //     load: requestData
                        // }
                    },
                title:
                    {
                        text: 'Noise Frequency'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    color: '#303030',
                    lineColor: '#303030',
                    name: 'Noise Occurences',
                    data: []
                },{
                    color: '#3399FF',
                    lineColor: '#3399FF',
                    name: 'Average Noise Occurences',
                    data: [], 
                }],
            });

            // --------------Chart 5 - -----------------
            chartMotionFreq = new Highcharts.Chart({
                chart:
                    {
                        renderTo: 'data-motionFreq',
                        defaultSeriesType: 'area',
                        // events: {
                        //     load: requestData
                        // }
                    },
                title:
                    {
                        text: 'Motion Frequency'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    color : '#c23d23',
                    lineColor: '#c23d23',
                    name: 'Movement Occurences',
                    data: []
                },{
                    color: '#3399FF',
                    lineColor: '#3399FF',
                    name: 'Average Movement Occurences',
                    data: [], 
                }],
            });

            requestData(); // Call requestData() once after the charts are initialized
        }
        $(document).ready(function() {
            initCharts();
        });
    </script>



<script>
    class Image{

        constructor(imgUrl, size)
        {
            this.imgUrl=imgUrl;
            this.size=size;
        }

        backgroundImage()
        {
            console.log("inside function ")
            // Select the Image
            var img = document.querySelector(".jumbotron");

            // create Css Text
            var text = "margin:auto;"+
                "background-image: url("+this.imgUrl+");" +
                "background-size:cover;"+
                "opacity:1;"+
                "background-blend-mode: darken;"+
                "height: "+ this.size + "vh;";

            img.style.cssText =  text;
        }

        centerTitle()
        {
            /*
                Center the Title
             */
            var t1 = document.querySelector("#title");
            t1.classList.add("text-white");
            t1.classList.add("text-center");
            t1.classList.add("display-3");
        }
    }
    const imgUrl = 'https://media.giphy.com/media/SjgCkzRInVZK0/giphy.gif'//https://media3.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif'
    const size = "60";
    var obj = new Image(imgUrl, size);

    obj.backgroundImage();
    obj.centerTitle();
    </script>
    <script src = "../script.js"></script>
</body>


</html>